VITE_CLOUD_API_BASE_URL=https://your-function-url.lambda-url.us-east-1.on.aws
GYM_SAAS_DESKTOP_VERSION_OVERRIDE=
R2_AWS_PROFILE=
AWS_DEPLOY_PROFILE=
R2_ACCOUNT_ID=your-cloudflare-account-id
R2_BUCKET_NAME=your-r2-bucket-name
R2_PUBLIC_BASE_URL=https://your-public-r2-base-url
